nav {
  background-color: white;
  z-index: 4;
}
nav .brand-logo,
nav ul a {
  color: black;
}

nav .brand-logo {
  margin-left: 20px;
}

/* Parallax container height */
.parallax-container {
    height: 750px;
  }

#portfolio-button {
  background-color: #81d4fa00;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 2rem;
}

.space {
    height: 600px;
    background-color: burlywood;
    border: 3px solid royalblue
}

/* Navbar pushpin classes */
/* // Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* // Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* // Class for when element is pinned */
.pinned {
  position: fixed !important;
}

/* header content */
.header-content {
  margin-top: 15%;
  margin-bottom:30%;
  color: white;
}

.about-me {
  margin-top: 5%;
  height: 750px;
}

.about-me-content-row {
  margin-left: 20%;
  margin-right: 20%;
}

.skills-logos {
  height: 70px;
  width: 68px;
}

.tech-icons {
  margin-top: 8%;
}

.portfolio-content {
  margin-top: 165px;
}

.materialboxed {
  float:left;
}

.swpier {
  height: 800px;
}

.test-test {
  /* margin-top: 33px; */
}