

nav {
  background-color: white;
  z-index: 4;
}
nav .brand-logo,
nav ul a {
  color: black;
}

nav .brand-logo {
  margin-left: 20px;
}

/* Parallax container height */
.parallax-container {
    height: 850px;
  }

#portfolio-button {
  background-color: #81d4fa00;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 2rem;
}

.additional-services {
  height: 600px;
  background: linear-gradient(-90deg,  #4eefed, #5c33fa);
  clip-path: polygon(0 0, 2000px 0, 1960px 20%, 0 99%);
}

.add-services-row {
  z-index: 8;
}

/* Navbar pushpin classes */
/* // Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* // Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* // Class for when element is pinned */
.pinned {
  position: fixed !important;
}

/* header content */
.header-content {
  margin-top: 15%;
  margin-bottom:30%;
  color: white;
}

.about-me {
  margin-top: 5%;
  height: 750px;
}

.about-me-content-row {
  margin-left: 20%;
  margin-right: 20%;
}

.skills-logos {
  height: 70px;
  width: 68px;
}

.tech-icons {
  margin-top: 8%;
}

.portfolio-content {
  margin-top: 165px;
}

.materialboxed {
  float:left;
}

.swpier {
  height: 800px;
}

.test-test {
  /* margin-top: 33px; */
}

/* .pic-blur:hover {
  filter: blur(2px);
} */


.cont {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 139, 186, 0.705);
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}